html {
	height: 100vh;
	width: 100vw;
}


body {
	height: 100%;
	width: 100%;
}


.container-fluid {
	height: 100%;
	width: 100%;
	padding: 0;
}


.main {
	background-color: #EA2832;
	height: 100%;
	margin: 0;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.flip-clock-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}